<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container" id="codelab">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input v-model.trim="movie.title" type="text" id="title" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="rating">Release Year</label>
                                        <input v-model.trim="movie.releaseYear" type="number" id="releaseYear"
                                               class="form-control">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="rating">Rating</label>
                                        <input v-model.trim="movie.rating" type="number" id="rating"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="image">Image</label>
                                <input v-model.trim="movie.image" type="text" id="image" class="form-control">
                            </div>
                            <div class="row justify-content-center">

                                <div class="col-auto">
                                    <button v-if="!isUpdate" @click="addMovie" class="btn btn-primary">
                                        Add
                                    </button>
                                    <button v-if="isUpdate" @click="updateMovie" class="btn btn-primary">
                                        Update
                                    </button>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5" v-for="movie in movies">
                <div class="col">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            {{movie.title}}
                            <div class="btn-group btn-sm">

                                <button @click="editMovie(movie)" class="btn btn-warning btn-sm">Edit</button>
                                <button @click="removeMovie(movie)" class="btn btn-danger btn-sm">Remove</button>
                            </div>
                        </div>
                        <img :src="movie.image" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">
                                {{movie.releaseYear}} - {{movie.rating}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    let vue = new Vue({
        el: "#codelab",
        data: {
            movies: [],
            movie: {
                title: "",
                rating: 0,
                image: "",
                releaseYear: ""
            },
        },
        methods: {
            addMovie() {

                if (this.movie.title == "")
                    return alert("Please enter the title");

                if (this.movie.releaseYear == "")
                    return alert("Please enter the releaseYear");

                if (this.movie.image == "")
                    return alert("Please enter the image url");

                // DO NOT ADD SLASH AT THE END
                // axios.post('http://codelab.camp/movies', {
                //     title: this.movie.title,
                //     image: this.movie.image,
                //     releaseYear: this.movie.releaseYear,
                //     rating: this.movie.rating,
                // })

                // The whole object
                axios.post('http://codelab.camp/movies', this.movie).then(response => {
                    if (response.data.success) {

                        this.fetchMovies();

                        alert("Movie added successfully");

                    }
                })


            },
            updateMovie(){
                if (this.movie.title == "")
                    return alert("Please enter the title");

                if (this.movie.releaseYear == "")
                    return alert("Please enter the releaseYear");

                if (this.movie.image == "")
                    return alert("Please enter the image url");

                // DO NOT ADD SLASH AT THE END
                // axios.post('http://codelab.camp/movies', {
                //     title: this.movie.title,
                //     image: this.movie.image,
                //     releaseYear: this.movie.releaseYear,
                //     rating: this.movie.rating,
                // })

                // The whole object
                axios.put(`http://codelab.camp/movies/${this.movie.id}`, this.movie).then(response => {
                    if (response.data.success) {

                        this.fetchMovies();

                        alert("Movie updated successfully");

                    }
                })
            },
            removeMovie(movie) {

                // axios.delete("http://codelab.camp/movies/" + movie.id)
                let confirmation = confirm(`Are you sure you want to delete the movie: ${movie.title}`);

                if (!confirmation)
                    return;

                axios.delete(`http://codelab.camp/movies/${movie.id}`).then(response => {
                    if (response.data.success) {
                        alert("Movie has been deleted successfully");
                        this.fetchMovies()
                    }
                });
                console.log(movie);
            },
            editMovie(movie){
                this.movie = movie;
            },
            fetchMovies() {
                axios.get("http://codelab.camp/movies").then(response => {
                    this.movies = response.data.movies;
                })
            }
        },
        mounted() {

            // this == window => true
            // axios.get("http://codelab.camp/movies").then(function(response){
            //     vue.movies = response.data.movies;
            // });

            // this == vue => true
            this.fetchMovies();

        },
        computed: {
            isUpdate(){
                return this.movie.hasOwnProperty('id');
            }
        }

    });

</script>
</body>
</html>