<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

</head>
<body class="bg-light">

<div class="container" id="weather">
    <!-- Modal -->
    <div class="modal fade" id="preview-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" v-if="preview != null">
                    <h4>Sunrise: {{preview.sun_rise}}</h4>
                    <h4>Sunset: {{preview.sun_set}}</h4>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="input-group mb-3">
                <input v-model="query" type="text" class="form-control" placeholder="Search for city...">
                <div class="input-group-append">
                    <button @click="search" class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div v-for="location in locations" class="col-md-4 my-3">

            <div class="card">
                <div class="card-header">
                    {{location.title}} - {{location.location_type}}
                </div>
                <div class="card-body">
                    <h3 class="text-center">{{location.woeid}}</h3>
                    <h5 class="text-center">{{location.latt_long}}</h5>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <button @click="getWeather(location)" class="btn btn-info btn-sm">Get Weather</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let vue = new Vue({
        el: "#weather",
        data: {
            query: "",
            locations: [],
            preview: null
        },
        methods: {
            search() {

                axios.get("https://www.metaweather.com/api/location/search/", {
                    params: {
                        query: this.query
                    },
                }).then(response => {
                    this.locations = response.data;
                    console.log(this.locations);
                });

                // axios.get(`https://www.metaweather.com/api/location/search/?query=${this.query}`)
            },
            getWeather(location) {
                axios.get(`https://www.metaweather.com/api/location/${location.woeid}`).then(response => {
                    this.preview = response.data;
                    $("#preview-modal").modal("show");
                })
            }
        }
    })
</script>
</body>
</html>